
<!DOCTYPE HTML>
<html>
	<head>
		<!-- <script type="text/javascript" src="js/lib/app.js"></script> -->
		<!-- <script type="text/javascript" src="js/lib/angular.js"></script> -->
		<title>Awesum space invaderz</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">


		<script type="text/javascript" src="js/lib/jquery-1.11.1.min.js"></script>
		<script type="text/javascript" src="js/lib/lodash.min.js"></script>
		<script type="text/javascript" src="js/invaders.js"></script>

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">

	</head>
	<body >
		<script type="text/javascript" src="js/lib/bootstrap.min.js"></script> 
		<div class="container">
			<div class="row">

				<h1 class="text-center header">Super awesum space invaderz!</h1>

			</div>
			<div class="row">

				<div class="col-lg-3">
<!-- 					<h3>Players</h3>
					<table height=300 class="table">
						<th>Name</th>
						<th>Score</th>
					</table> -->
					
					<h3>Weapons</h3>
					<table id="weapon-table" class="table table-condensed">
					</table>
		        	

		        	<h3>How to play</h3>
		        	<p>Move: Arrow keys</p>
		        	<p>Fire: Space</p>
		        	<p>Select weapons: number keys 1,2 and 3 </p>
		        	<p>Note: enemies drop weapon ammo when they die</p>


	        		<h3>TOP 10</h3>

		        	<table id="highScoreTable" class="table table-condensed ">
		        		
		        	</table>

				</div>

				<div class="col-lg-9">
					
					<canvas id="invaderCanvas" width=800 height=600> </canvas>	

					<div class="notNeededWhilePlaying">
						<button id="newGameButton" class="btn btn-lg btn-primary">New game</button>
						<h4 id="submitStatusP" class="hidden">Submit high score</h4>
			        	<div id="submitScoreForm" class="hidden">
			        		<form role="form">
			        			<div class="form-group">
			        				<label for="playerNameInput">Name</label>
			        				<input type="text" class="form-control" id="playerNameInput"></input>
			        				
			        			</div>
			        			<button class="btn" onClick="return false" id="submitScoreButton">Submit score</button>
			        		</form>
		        		</div>
	        		</div>

<!-- 					<button id="nextLevelButton"  class="btn btn-lg btn-primary"  >Next level</button> -->
				</div>
				

	        </div>

        </div>
	</body>
</html>